<footer>
    <div class="footer">
        <div class="bottomimage">
            <img src="https://static.wikia.nocookie.net/gensin-impact/images/7/7b/Animula_Choragi_Shape.png"
                class="center"
                alt="An image of Furina's in-game constellation, which looks like her side profile in a lined style within a water droplet."
                height="150" width="150">
        </div>
        <div class="textandsuch">
            <h2><strong>All About Furina</strong></h2>
            <p>Site belongs to Tobias Diaz, 2024</p>
        </div>
    </div>
</footer>