<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Your page description">
    <meta name="author" content="Your name">
    <link rel="icon" type="image/png" href="favicon.ico">
    <meta property="og:image" content="meta image.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Poor+Story&display=swap" rel="stylesheet">
    

</head>

<head>
    <meta charset="utf-8">
    <title>{{title}} | Furina de Fontaine</title>

    <base href="{{deployURL}}">
    <meta name="description"
        content="A very fun and very cool website about everything in regards to Genshin Impact character, Furina de Fontaine.">
    <meta name="author" content="Tobias Diaz">
    <meta name="author" content="Tobias Diaz">
    <link rel="icon" type="image/png" href="favicon-16x16.png">
    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/menu.js" defer></script>
</head>