<a href="#main-content" class="skip-link">Skip to content</a>
<header class="main-nav-container">



    <nav class="main-nav">
        <div class="nav-button-right">
            <img class="header-logo" alt="Home" src="/assets/img/furinaSide.png" />
            <button class="btn-toggle-menu">
                <svg aria-hidden="true" viewBox="0 0 100 60" width="30" height="30">
                    <rect width="100" height="10"></rect>
                    <rect y="30" width="100" height="10"></rect>
                    <rect y="60" width="100" height="10"></rect>
                </svg>
                {% comment %} give this span a class of 'sr-only' to visually hide the text but keep it available for
                assistive text user {% endcomment %}
                <span class="">Menu</span>

            </button>
            <div class="nav-items-list nav-items-list-hidden">
                <a href="/">Home</a>
                <a href="/story">Story</a>
                <a href="/build_gameplay">Build Gameplay</a>
                <a href="/relationships">Relationships</a>
            </div>
        </div>



    </nav>
   
</header>