<a href="#top" class="to-the-top" style="flex:{{flex}}">
    <img 
        width="100"
        src="https://www.figma.com/file/7JNK9CUPXvRPHAcFdUgMxg/image/fce80a46f8e249f8f3ec165d42d6636965cd6a2e"
    >

    <p>Return to top</p>
</a>
