/* your styles will go here!! */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
  }
  
  body {
    background-color: aliceblue;
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  h2 {
    color:rgb(6, 22, 248);
    text-align:center;
    font-weight: 200;
    padding: 15px;
  }

  p {
    color: rgb(32, 81, 155);
    word-spacing: 0.10em;
    line-height: 1.4;
    max-width: 732px;

  }

  .nav div {
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-bottom: 20px;
  }

  .big-img {
    width: 100%;
  }



nav {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

.footer {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.bottomimage {
  max-width: 100%;
  max-height: 100%;
}

.textandsuch {
  font-size: medium;
}