<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 3' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="title">Builds + Gameplay</h1>

      <div class="rectangle">
        <h2 class="bannertext" >Furina's Talents</h2>
      </div>

      <div class="container-build">
         <p class="body-text-build">
            Soloist's Solicitation
            <br>
            Normal Attack
            <br>
            Left Mouse Click
         </p>
        <img
         src="https://s3-alpha-sig.figma.com/img/b613/16be/f617fe8cbc2c7c23c0a44c5609beb1fb?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Dv2HS~HWGg196TLe7MmkH0i0Imb3-GlcQpwsleuG1dktsGEPQTrXB5yKYj1htgCrEdn31AauaWVItZA3ja7yDUbwddWrm~h~oQ~HmHEpIbOHCClOR6aWCG~R74WzaNrnAbZ4bjYOJBmZZV4HsSnmMkfCzE8-ca83BuMX9qwISDKAbKCR7IhF-0U-q3AHZdPQcxW2GdAgk-U~G~ox9x6yL1qNgSrXKToyAYCG5EXA~nZkllvIZcG2d4r4ve8UVGNqiOA0PusRem8d9z75kx~lm8gLWD9QqRvocnPsyZ5r~D9aMeCPH1PlFe1WMrcZuaqlMEhFIh7By63lseFSWR5wZA__"
         alt="An icon of two swords clashed together within a blue circle." width="100"
         height="100" />
     </div>

     <p class="body-text">
      Normal Attack Performs up to 4 consecutive strikes. 
      <br><strong>Charged Attack</strong> consumes a certain amount of Stamina to unleash a solo dance, dealing Physical DMG to nearby opponents and changing her Arkhe alignment. 
      If Salon Members or Singer of Many Waters summoned by her Elemental Skill "Salon Solitaire" are present, their lineup will switch in response.  
    </p>

    <div class="container-build">
      <p class="body-text-build">
         Salon Solitaire
         <br>
         Elemental Skill
         <br>
         "E" Key
      </p>
     <img
      src="https://s3-alpha-sig.figma.com/img/7de9/82ee/4a7d25c0bdbb672ab41657a63707295a?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=quUknCdURbsD~fK6YDer0uexRBAarK-Lth7vB1ATEebSmkUtgtOHipuGzpiyr8HtS4-CoHrF2haGZbuNzgZAMT07LxlURBx92Z7gBiIMN9OEV0RtVLQB643IO3SlezGlfl9QLxusU52oynkNlEVHkYel7KXPq1To5X0prTZXkfQQD3Nd73qcs81uMmAUjgZ9v~IVzMArwsbUtUS9WVOfQhmOJSu9HlMnmVE-C2xTsdLk~hUKk4BE7DOODuNHzzlbh2bBFszvSJTMFTxVeel5jb~~vX2A93YNkZyXcM0YkCsw3GX2mDersLM7h4JTz-vuuNIBIGDFSzdNoLf9Jeeemw__"
      alt="An icon of a simplified Furina silhouette holding her cane to the ground, extending her arm high being surrounded by 3 bubbles." width="100"
      height="100" />
  </div>

  <p class="body-text">
    Will summon either the Salon Members or the Singer of Many Waters based on Furina's current Arkhe alignment. 
    <br>
    <strong>Ousia:</strong> Foaming bubbles like celebrants shall dance, dealing AoE Hydro DMG based on Furina's Max HP and summoning 
    3 Salon Members: Gentilhomme Usher, Surintendante Chevalmarin, and Mademoiselle Crabaletta. They will attack nearby opponents at intervals, doing Hydro DMG based on Max HP. 
    When they attack, if character(s) with more than 50% HP are nearby, the Members will increase their current attack's power based on the number and consume said characters' HP. 
    If the characters who meet these requirements are 1/2/3/4 (or more),  the Members' attacks will deal 110%/120%/130%/140% of their original DMG. 
    <br>
    <strong>Pneuma:</strong> Summons the Singer of Many Waters, who will heal nearby active character(s) based on Max HP at intervals. 
  </p>

  <div class="container-build">
    <p class="body-text-build" style="width: 70%">
       Let the People Rejoice
       <br>
       Elemental Burst
       <br>
       "Q" Key
   </p>
     <img
      src="https://s3-alpha-sig.figma.com/img/7de9/82ee/4a7d25c0bdbb672ab41657a63707295a?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=quUknCdURbsD~fK6YDer0uexRBAarK-Lth7vB1ATEebSmkUtgtOHipuGzpiyr8HtS4-CoHrF2haGZbuNzgZAMT07LxlURBx92Z7gBiIMN9OEV0RtVLQB643IO3SlezGlfl9QLxusU52oynkNlEVHkYel7KXPq1To5X0prTZXkfQQD3Nd73qcs81uMmAUjgZ9v~IVzMArwsbUtUS9WVOfQhmOJSu9HlMnmVE-C2xTsdLk~hUKk4BE7DOODuNHzzlbh2bBFszvSJTMFTxVeel5jb~~vX2A93YNkZyXcM0YkCsw3GX2mDersLM7h4JTz-vuuNIBIGDFSzdNoLf9Jeeemw__"
      alt="An icon of a simplified Furina silhouette smiling with both hands in the air, a apotlight being shined on her." width="100"
      height="100" />
  </div>
  
  <p class="body-text">
    Rouses the impulse to revel, creating a stage of foam that will deal AoE Hydro DMG based on Furina's Max HP and cause nearby party members to enter the Universal Revelry state: 
    During this time, when nearby party members' HP increases or decreases, 1 Fanfare point will be granted to Furina for  each percentage point of their Max HP by which their HP changes. At the  same time, Furina will increase the DMG dealt by and Incoming Healing  Bonus of all nearby party members based on the amount of Fanfare she has. 
    When the duration ends, Furina's Fanfare points will be cleared.
  </p>

  <div class="rectangle">
    <h2 class="bannertext" >Best Weapons + Artifacts</h2>
  </div>

    <p class="body-text-build" style="text-align:center;">
      Pay to Win Weapons:
   </p>
<div class="bigpapacontainer"> 
  <div class="container-weapon">
     <img
      src="https://s3-alpha-sig.figma.com/img/899f/321b/9c3165de5aa466ab210fcf79532f3c90?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=l5NV3Bhvjv81ZCKfT7xH1nLVoJTcDpltl8Ei9Z3mqpswk9CtPCOCXyok5bkLgfEzxZEcs1FXvDItfeItEI6jGAM3y9dIq0z78eTR1Fw9tKlw4Gx7tdN35neFrHK8LdPbC-YJyO63Re1HID4JZrG7XZhffELWa8oA4cBaBHi0HR1IxlObgbd7gTGWBLt1F81YSnnkWnmskX5YuMUdxjh-KY1WylVy20krrAVRpZfTRMxtuULDl3DsGJvUkdtCoV7so5ftvP~K2lqHdQOmcM~d6nSseWYZv9YbYQvbqYaH5MSnzGrN8YsP57fLOT7JrYgG84SSymhTWyAIz8xKKA0G1w__"
      alt="An icon of the Splendor of Tranquil Waters, a sword with a dark blue blade and handle with mystical crystal blue swirls of water adorning the handle." width="200"
      height="200" />
      <p class="body-text" style="font-size: 25px; text-align:center; width: 75%">
     Splendor of Tranquil Waters
      </p>
  </div>
    <div class="container-weapon">
      <img
      src="https://s3-alpha-sig.figma.com/img/ac07/7352/1664d63242373809906349326532d4a9?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hbeRh4IcXPV8wGYoPz6j86Mr1DVf2tAHLvIs03aagFDrcLHgh2OCSdIOh98Dn2NVMjJJfnK7wrigPcrM-UYyaraoOrZdIfDfbXA6H7y9tfs6tqQrqqaxYvO47Ly1ok0C93BTiwdvkRdhWTzLEdRIJeGTIFuhtzC3aaJHgwZsRSfQg8sdw~BBa5whRrnoZ7a9mhmksD12F1yKlOXadGmB3uzw7avFh73MMfh8xLITadKy3cdqhme5QTF-NE2rEkrK1gBNZD66bAbDXYKvnklHWjzYTqM4iljIFJyHBX9WTIPz24Lq8T08oEAEk2z7F111VfN66wlY23RPsVyW96h0OA__"
      alt="An icon of a simplified Furina silhouette smiling with both hands in the air, a apotlight being shined on her." width="200"
      height="200" />
     <p class="body-text" style="font-size: 25px; text-align:center; width:65%;">
     Key of Khaj-Nasut
    </p>
  </div>
</div>

<p class="body-text-build" style="text-align:center;">
  Free to Play Weapons:
</p>
<div class="bigpapacontainer"> 
  <div class="container-weapon">
 <img
  src="https://s3-alpha-sig.figma.com/img/ec81/166b/aa17f2d1c7d5235e2b92a327c7f6b51b?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gzVLtOfNXP65zMtahx5Yfwdn0~QPhKWc4LGrl9Mm6YmX6C7t3PTlW06s3OdvbwHRaz6rN-zFRpsPw0dnV9ceXdnrWHy9EEm-w8qas8V4Enj6yNixsWIlZnDhLnTYvLg9710WT9LUg4qa~dIc0eHszSG1p7mbr4Ku8QYfoSlwf2FS8J45LAgzluBcFAc~d9q0bEUX9Lyodi~tx8e1zd0c2uGceo7C5CBjOTo0v5ZSZegF0DzN0FcYI5Rb~YVHrDBrhOaSVzABmdiLHgk2WpDPGVFhPGrc0gvzgfvUy-bt0CaJn2FUFeKhaiIrKcKD1v7u3H0Irofpfoy-yFWI7n~Upw__"
  alt="An icon of the Festering Desire, a black and purple sword with a spiked half-compass adornment on top of the handle." width="200"
  height="200" />
  <p class="body-text" style="font-size: 25px; text-align:center; width: 100%">
 Festering Desire
  </p>
  </div>
  <div class="container-weapon">
  <img
  src="https://s3-alpha-sig.figma.com/img/16e3/c132/ba54ae290a3099859048447de0ad3227?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ath2Na5QvT~MnBDjdoixvychaTqT1tXRIyiByPzYR9q3x8H4HVGcwhPgESP6rm6W0V-L3DFVZLIikscLFetymlyC8hAev84EH6VgbpwjZ-XhZTJN-fAYN6JvA~YaqJOwFeEtgn8iIcY~u2HlfH3l5SDlrHmc-SHoeySn185U~OywE~m-l8lND0gOi6a9e8QJdwUwgjrKiz5VRqI4y3AN1mgb2ke1LLbfZDX57hk0BNaQaBPsQkI5Tss6L-2c27odhIrJSdNSTPNWyb3csX5oON0VSuoLMx4sCrH2HI8klMqsiY8D0owAvVmGT6zz5Tv7LgdRZM5lh4B07j0Mj4Vnbw__"
  alt="An icon of the Fleuve Cendre Ferryman sword, a steampunk-esque weapon with a pressure gauge connecting the sword to it's handle." width="200"
  height="200" />
 <p class="body-text" style="font-size: 25px; text-align:center; width:75%;">
 Fleuve Cendre Ferryman
  </p>
  </div>
</div>

<p class="body-text-build" style="text-align:center;">
  Best Artifact Set
</p>

<div class="container" style="align-items:center;">
  <p class="body-text" style="font-size:30px;">
  Golden Troupe x4
  </p>
   <img
   src="https://s3-alpha-sig.figma.com/img/de4b/7d47/52b8899057655f722cbeee31d4331034?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nf7zsQVmkJt1VQD4XiPxXKZVvKwE1ZbPx4I1n08uJ4UAOmo92xDG6skBcGqqJ8~Sq1WIkssxM2F4YZoS97jDJXh8VgGExomTS1QPQ5EsvoUxwHrA14xU3bscePQJm58CzQy1SUDXaDdgVtip~psRC7TDKsYuON4HDf5lvf7powKeNt0AWecveqtUj-1jy2RDzCNPJIXgAkDwfqZRHNjWnD1Z7giuEpFq29GQD4Kd0jnuC3ne9Mun23SrKgJ0ewmvUPi72Q9VaqeQlkGzNhQ2k-tmfWj3~ugTEW444XTzM8xNAyBUQcZFjiOJBi5SDfcDuif49Abb7PfVOwtKiXpeNQ__"
   alt="An image of the Flower for the Golden Troupe artifact set, which looks like a white 6-petalled flower with a yellow adornment in the middle being held by two wings with a rhombus-shaped blue jewel above it. " width="200"
   height="200" />
</div>

<p class="body-text" style="font-size:20px;">
  <strong>Ideal Main Stats:</strong> HP%, Hydro DMG Bonus, CRIT Rate/CRIT DMG
  <br>
  <strong>Sub Stats:</strong> Elemental Mastery, Energy Recharge
  </p>

      {%include 'topthing'%}
    </main>
    {% include 'footer' %}
  </body>
</html>
