<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 4' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="title">Relationships</h1>

      <div class="rectangle">
        <h2 class="bannertext" >Voicelines Mentioning Other Characters</h2>
      </div>

  <p class="body-text-build" style="text-align:center">
    Lyney + Lynette
 </p>
<div class="container-weapon">
  <div class="container" style="align-self: center;">
    <img
    src="https://s3-alpha-sig.figma.com/img/c8e2/3b19/8ac0e4ac45ff67a36dbecb0e222bf365?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YE6du9eqnwLbrXp6Q6Wufc6MGUUHJHE3hWUMRNfh0618JAkp74HRHhv7SHuK4JRBy36I8zl~NTYOTA1OB2BtMjh64SSkt3ta~cx4iW6bbNyvFpaXMpVRrcoVuxtuJEFU-B3bj4g-RwEQR23EH9-dXAu71xbLoRpG0Qgbfr3smPgKDIKgRxe40XpB2C1aoPjVkXVMiDvSqkQ3-P9OlDtAwkubvW87Z-RCfQVKZjDnvvp2WpSojVz-Yf9gNSp3PwAVMeR03~FQ5~SWexPs9H3hIbUUopiRIZJMxNPSDdn1yeOtKwW725jawMeKp~p0t8BAK-wQVKyWjYL0mJm2qzpnYg__"
    alt="An in-game sticker of Lyney acting surprised with an arm out to his left, gesturing at something with bits of confetti present as he holds out his tophat with his left hand as confetti comes out of it." width="150"
    height="150" />
    <img
    src="https://s3-alpha-sig.figma.com/img/0d9d/d772/b23dada5dce81e046b9320036be37cc5?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c3Rvr-gxo0mUEVtIePjEjifWuVoDjYNXFgJICL1Wi~b5ABdITF1oZU3sWUTBOAUR~9Cqr6zeMBdjI-gy2IDvUdT64a9fnXeL7nL~dPTr8EDNFFz9cz3pkG-GmI6ZoqVoWmkWB045G6XmbDR5jeRWtp3ZNdM06b3OIaIBuCKlHhevMlDzqJEqSZvBHYT-ZJavXxCiwSyYLUBfQEJDAe6lybVcuWHUr7OT-ywr2ZgrB-4ZKpdsBuql0dyRkm3QtxYwXwnhe~3U7-6e1xDjxcAIcksJlkUMB2neTiZp52DVOcnr4rdykdRm9c4lkxgAdiIt-~glwTNtOjOAeUi5jIVb~Q__"
    alt="An in-game sticker of Lynette acting surprised with her arms out to her right, gesturing at something with bits of confetti present." width="150"
    height="150" />
  </div>
        <p class="body-text">
          “Of course I know Lyney and Lynette. I used to frequently attend their magic shows. Though they're very popular, they're still much less popular than me. Only my performances would draw a completely sold-out crowd... even standing tickets would be out. But now... Uh... 
          I've already decided to hang up my acting career, so it's perfectly normal for my popularity to decline!”
      </p>
</div>









      {%include 'topthing'%}
    </main>
    {% include 'footer' %}
  </body>
</html>
