<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 4' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="title">Relationships</h1>

      <div class="rectangle">
        <h2 class="bannertext" >Voicelines Mentioning Other Characters</h2>
      </div>

  <p class="body-text-build" style="text-align:center">
    Lyney + Lynette
 </p>
<div class="container-weapon">
  <div class="container" style="align-self: center;">
    <img
    src="https://s3-alpha-sig.figma.com/img/c8e2/3b19/8ac0e4ac45ff67a36dbecb0e222bf365?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YE6du9eqnwLbrXp6Q6Wufc6MGUUHJHE3hWUMRNfh0618JAkp74HRHhv7SHuK4JRBy36I8zl~NTYOTA1OB2BtMjh64SSkt3ta~cx4iW6bbNyvFpaXMpVRrcoVuxtuJEFU-B3bj4g-RwEQR23EH9-dXAu71xbLoRpG0Qgbfr3smPgKDIKgRxe40XpB2C1aoPjVkXVMiDvSqkQ3-P9OlDtAwkubvW87Z-RCfQVKZjDnvvp2WpSojVz-Yf9gNSp3PwAVMeR03~FQ5~SWexPs9H3hIbUUopiRIZJMxNPSDdn1yeOtKwW725jawMeKp~p0t8BAK-wQVKyWjYL0mJm2qzpnYg__"
    alt="An in-game sticker of Lyney acting surprised with an arm out to his left, gesturing at something with bits of confetti present as he holds out his tophat with his left hand as confetti comes out of it." width="150"
    height="150" />
    <img
    src="https://s3-alpha-sig.figma.com/img/0d9d/d772/b23dada5dce81e046b9320036be37cc5?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c3Rvr-gxo0mUEVtIePjEjifWuVoDjYNXFgJICL1Wi~b5ABdITF1oZU3sWUTBOAUR~9Cqr6zeMBdjI-gy2IDvUdT64a9fnXeL7nL~dPTr8EDNFFz9cz3pkG-GmI6ZoqVoWmkWB045G6XmbDR5jeRWtp3ZNdM06b3OIaIBuCKlHhevMlDzqJEqSZvBHYT-ZJavXxCiwSyYLUBfQEJDAe6lybVcuWHUr7OT-ywr2ZgrB-4ZKpdsBuql0dyRkm3QtxYwXwnhe~3U7-6e1xDjxcAIcksJlkUMB2neTiZp52DVOcnr4rdykdRm9c4lkxgAdiIt-~glwTNtOjOAeUi5jIVb~Q__"
    alt="An in-game sticker of Lynette acting surprised with her arms out to her right, gesturing at something with bits of confetti present." width="150"
    height="150" />
  </div>
        <p class="body-text">
          “Of course I know Lyney and Lynette. I used to frequently attend their magic shows. Though they're very popular, they're still much less popular than me. Only my performances would draw a completely sold-out crowd... even standing tickets would be out. But now... Uh... 
          I've already decided to hang up my acting career, so it's perfectly normal for my popularity to decline!”
      </p>
</div>

<p class="body-text-build" style="text-align:center">
  Neuvilette
</p>
<div class="container-weapon">
  <img
  src="https://s3-alpha-sig.figma.com/img/69c9/c507/3915e224ed96fb39b590433c453bf235?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=G4f8Db~cGT5grUx7BKmMDvGPsywHbCq-BJ2rmPzQOex7p9x0Z7wnRzKZTHmmcqFY1umJ7bkGqmB0whzpX4Oo1GNYoHNWGjNF8tAAEJz17-vp9iztQ76yqChOeblphAelc2eZXYqUZ0-sZQK2swAjNRYKJWq3K2AgNHdJWVmGSzdSvhNSZeB0r8qYEfZmXIEB23l0INMqaoZWfjB6QjgHxxsqtid9VPgi-oabVAQfJy9VRYjBrcInLZVxl5MnZ95p81PxsN6BLYFYtJytu85kz~FQYyJ6GZiMoM2TPfEwg5Jcuv9zZLo13gewRVIyLLNPMRlYUtXCthZzRGjJdn0cvA__"
  alt="An in-game sticker of Neuvilette smiling gently at the viewer as he holds a silver chalice." width="150"
  height="150" />
</div>
    <p class="body-text">
      “I'm very grateful to Neuvillette for all the hard work he's done for Fontaine in the past few centuries. 
      It seems he doesn't intend to investigate my crimes of deceiving the people. Anyway, we're no longer working in tandem, and it's been a long time since I've been to the Palais Mermonia. 
      I imagine that this is good for both of us, right?”
    </p>
</div>

<p class="body-text-build" style="text-align:center">
 Navia
</p>
<div class="container-weapon">
  <img
  src="https://s3-alpha-sig.figma.com/img/7f0b/6925/eb13583e5f2c4b2d1eae52ceb5edbcf2?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Spm7GlQ5B1qsT40gZMiA7oMugV3qHVNMf2UdPUC0RlGTFy29F5dp49Hug8-mk7CV8AsO6HKWbedOY0CI0dYEZKknjk8OKuBDqZU~7loDgarm9UnTXBdyn1RIda2-1tWXUCA6n2O6-cE~KMLpwDeGG0dB1YYO2zW8y3EX~CkY~CRnOE-BIcWo0ByQa9AbK85UEugc6lSQZnIwux~En4qDglcm4p0GmxvacqnTvkhMLKNVKd9FBwbPeeyRK7IE53WbvrPjLTgFJpH98Z8Ir2qcbql4CJ10fD1iqaURDcl~iTa8MNbXHs3ZZD9GbAKvPjyoTKv34X8TwWkP17xVIrO2Nw__"
  alt="An in-game sticker of Navia as she gives a thumbs up while smirking with shades on." width="150"
  height="150" />
</div>
    <p class="body-text">
      “She's a very strong person. Strong people will always manage to keep themselves together no matter what happens, acting like everything is fine. Doing so prevents other people around them from needlessly bearing additional pressure. I saw the duel between Callas and Clorinde... 
      and I can say that in this respect, Navia is becoming more and more like her father.”
    </p>
</div>

<p class="body-text-build" style="text-align:center">
  The Knave (Arlecchino)
</p>
<div class="container-weapon">
  <img
  src="https://s3-alpha-sig.figma.com/img/09b2/6493/b732b619b04a48b3ac459f42f7dc8c42?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QUkZJ~9qKx2CEneZR-VBsnbwqZg2WfRP1MC28EHyc7hIuFX0iKOCIZEmnVN9i2Xkuk5psZRh23bM0XkI4GCDP3pFmTyZdXSQEMBcBe7YTzEhzssTTCPry4vdjnmE0rOKUW5HjJ4idpG4ePDyReR-APCwheCpqCtBUIk3Ke9D-IYb2F9dTpNOwJMERuWJ9oKRbhkn-9ILgC~rS2ygX~g7dBdZCSmL~nAKRneZP5ON76SBpyc2ZXWZR1PVL34ywr8rFfVK3wR9fLq7uH9Dn9ssIgLiZyalCiW77Jd9~RtOvHyq1y55R~hKmBhXt-nu8-SvyLPuYMifYCdTTlt-LE54FA__"
  alt="An in-game sticker of The Knave, sitting menacingly on a throne in the middle of slowly clapping her hands." width="150"
  height="150" />
</div>
    <p class="body-text">
      “The Knave? W-Who's that? Oh... Uh, I'd already forgotten about her... Keeping such a terrible figure like her in your mind will only give you nightmares.”
    </p>
</div>

<p class="body-text-build" style="text-align:center">
  Charlotte
</p>
<div class="container-weapon">
  <img
  src="https://s3-alpha-sig.figma.com/img/e1b3/eef8/b940d1a52674b72995a15f367c50fdab?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oqgXgLQsC1A3DCkR0IrE53z4mLQnuIKw4YKJe4IjO8i7cLJGCb9kOgUnVbMvvmwvK0E7GiVhsAdGst2KjAyx~DaabvSJxRrXBHZVG1xbIHWp2rnq3N54xlsSFjFmTQZFLfGyzKbS3OQRCkfK1jc0Mdsegl88RnT2EyT4pA0RJb74aZodxrR1K1sl-~QcI5NAVU7s3lQU-oJXE7-3TzkjvaD67cLbSAna8eiufldX0~i57C1SwDS1d4LV5qvGkssX3pF1OPT4nNH7eTJu1-t3BKrNvgT6jPZcgaDz9YGOyZrqHf2-GdJC-4Y1MHMHfRNdQnLKfo3miyEz3IYjKquzZg__"
  alt="An in-game sticker of Charlotte smiling holding up shades, posing with her camera that has similar shades on." width="150"
  height="150" />
</div>
    <p class="body-text">
      “I've often seen Charlotte busily running back and forth lately. She still seems to be hoping to arrange an exclusive interview  with me. No matter how many times I refuse, she still hasn't given up. To be honest, her persistence made me angry at first... but then she told me with a resolute look in her eyes that she wanted to let people understand the real Furina, 
      and that she believed people would understand my troubles. I don't know how to respond to her kind  intentions... I suppose she might be right, but I'm just not ready yet...”
    </p>
</div>

<p class="body-text-build" style="text-align:center">
  Wriothesley
</p>
<div class="container-weapon">
  <img
  src="https://s3-alpha-sig.figma.com/img/0e0a/6ee3/0cd53a04aac43dc6c960bb09dca090e5?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pPrJu4g~n5MVbqod3HqxOZuIfaCy5Np~9ZLjKY86PzXunRIDe90bwWLG9pZzvgjc4QoIGof4fJC3vl8c-zDitognwJ-B6fAEKqlLWAER43cFaaE85wyI5k01Fr7xkVLYha7Li0PTlav5RR44T40hrnDFHxd~c2DCv4jWnNnqQZA7Jn6DCxrreJEkFu~K99oDxT12eLKWaa6O9MqWH8PzCRHWPFrpLum2JKkf5RfWZsx4n-iCrFJMIIuhw1-HoPxTpLq1bhJ42bN0RimPLWtSDf2yumTr2dTOXtQvBX6lV7j8JjEAfmQh0h6tSE15V8H-vSxg2U6C7AmuajKxjq8Pjg__"
  alt="An in-game sticker of Wriothesley with his big gauntlet on one arm, clenched in a fist as he annoyedly adjusts his tie." width="150"
  height="150" />
</div>
    <p class="body-text">
      “I haven't communicated with him much, but Neuvillette claims he's trustworthy, so I suppose he must be a good person. Oh, come to think of it, 
      I've received some tea from Wriothesley before and it was exquisite!”
    </p>
</div>

<p class="body-text-build" style="text-align:center">
  Clorinde
</p>
<div class="container-weapon" >
  <img
  src="https://s3-alpha-sig.figma.com/img/dfc0/30e1/65a24d18b2d698bf0426650fbeaff06d?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=X4Jf3rahjTebRfVujLbBwx5NcSDnhrxFILKDNxsHXj9vlVZBuHl~3ETPwjoH-oux60sXI00QtlLOGnYv0f0jO7eRn5nPfTjqzL7shouimCjUJSWlPrXa-PjvxZUzYA8XxErUJmZHceC2itNbmzvipKXLzYRTtpwKX0OF0lNrdcMW8G53-1wCP2HJJwEIlS~4uOEVhpqCR0~iatGE-4J6zS0~xKT1NV3dnUjszsq0KdVTOaCb7lDDTrjaagRsAhTCBGUQZESwGTlRUataNwSebheFJ2k8unIXGYa1v47xbk9fN8pUaCqruAUopsjcLSV95kQ6Cdg4CzA-kkJKJJHpDQ__"
  alt="An in-game sticker of Clorinde pointing her gun directly at the viewer, staring with an emotionless expression." width="150"
  height="150" />
</div>
    <p class="body-text">
      “As I remember, Clorinde isn't very talkative, but she has stood by me and protected me on several occasions, so I trust her very much. Hmm... I do miss her ever so slightly, but I don't have any real reason to see her now. Oh, right! I should invite her to my next tea party!”
    </p>
</div>

      {%include 'topthing'%}
    </main>
    {% include 'footer' %}
  </body>
</html>
