<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="title">Story</h1>

      <div class="rectangle" >
        <h2 class="bannertext" >Act 1</h2>
        <h2 class="bannertext">Prelude of Blancheur and Noirceur</h2>
      </div>

      <p class="body-text">
        The Traveler and Paimon arrive in Fontaine. 
        Locals inform the duo about the Court of Fontaine, and about Neuvilette and the Oratrice Mechanique d’Anelyse Cardinale that make sure true justice is served at the end of every trial, no matter how dramaticized. 
      </p>
      <p class="body-text">
        The player then meets Lyney and Lynette, who tell them about the prophecy of Fontaine:
      </p>
      <img
      src="https://s3-alpha-sig.figma.com/img/e568/d023/49997be1d27471e8ff45329a580abb9d?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eICn~XGuXKH9vit5CLZsaWR7RgTlmfmhNqCYGeH4z7Ky4CA6EzPSWvWaiFZK0TkSr0kup-u5Cw67dgsCRp3iqACy3FajkBV4WxV1CO86f5RPjSJ9b9dLYSz6~7WHUjx7zt~NtUf9lJma05gKBp3hEis4uubpuhPGy-3llMZwemBOpDNfCkdXfjNnSvXpH2I5noWDYmUrzx6gG5m1ULflFC51~yDXZt8mk1I9gTI75UaWG5Sn0IlrMB8saS1YERfxnziY-KWD0khnF2om8wNXJ-cfKZV3krlNlT-zaY~YH-E2wIu73SPsMUa8FKGYJxZuerzrjOh2VL1e7t6a-2WXuA__"
      alt="An in-game sticker of Lynette, a girl with short tan hair 
      with cat ears and a large dark teal bow sipping a cup of tea." width="150"
      height="150" />

      <p class="body-text">
        “the waters of Fontaine will rise and the sinful people will all be dissolved into the waters, 
        and only the Hydro Archon will remain, weeping on her throne- 
        only then will the sins of the people be washed away”</p>

     <img
        src="https://s3-alpha-sig.figma.com/img/0c4c/9d56/6cef59ffe47fbb0db10ab2b393ac8b11?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=calfa--iBoEYooKNVX0D3OT---jLSchxdzJ1KQBI-Q1oxjIAVcFEojOD2MoraVeJ79Wnj-VkDNjqxWxCclDyd~7jhf9ooG0mSD9r1P8ftXS1n0cr11ZbKY6jOx3a-xfA2dlcitBsZWm51djQHKWenlR4QggV0bN5CbwoE4OlY4l89gqLXszV9ens2~dfFcxsNeGAMEy74Lg1YaagbBrHrwvIM4gmhImjOOlwkxqT-5VDoy9BkyD7gUcyNPXwVCw~VQMhVMmHJiAY1y8WC~W~22RG3jaYBO8yuiW2N7Pt2VchnjA8cszud2epHZ21gPbXHx0UDVTij1TAuiAnFyNugw__"
        alt="An in-game sticker of Lyney, Lynette's brother, tipping his magician's
        hat away from the viewer with a smile and hand on his heart." width="150"
        height="150" />
<p>    </p>
      <div class="rectangle" >
        <h2 class="bannertext" >Act 2</h2>
        <h2 class="bannertext">As Light Rain Falls Without Reason</h2>
      </div>



      {%include 'topthing'%}
    </main>
    {% include 'footer' %}
  </body>
</html>
