<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="title">Story</h1>

      <div class="rectangle" >
        <h2 class="bannertext" >Act 1</h2>
        <h2 class="bannertext">Prelude of Blancheur and Noirceur</h2>
      </div>

      <p class="body-text">
        The Traveler and Paimon arrive in Fontaine. 
        Locals inform the duo about the Court of Fontaine, and about Neuvilette and the Oratrice Mechanique d’Anelyse Cardinale that make sure true justice is served at the end of every trial, no matter how dramaticized. 
      </p>
      <p class="body-text">
        The player then meets Lyney and Lynette, who tell them about the prophecy of Fontaine:
      </p>
      <img
      src="https://s3-alpha-sig.figma.com/img/e568/d023/49997be1d27471e8ff45329a580abb9d?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eICn~XGuXKH9vit5CLZsaWR7RgTlmfmhNqCYGeH4z7Ky4CA6EzPSWvWaiFZK0TkSr0kup-u5Cw67dgsCRp3iqACy3FajkBV4WxV1CO86f5RPjSJ9b9dLYSz6~7WHUjx7zt~NtUf9lJma05gKBp3hEis4uubpuhPGy-3llMZwemBOpDNfCkdXfjNnSvXpH2I5noWDYmUrzx6gG5m1ULflFC51~yDXZt8mk1I9gTI75UaWG5Sn0IlrMB8saS1YERfxnziY-KWD0khnF2om8wNXJ-cfKZV3krlNlT-zaY~YH-E2wIu73SPsMUa8FKGYJxZuerzrjOh2VL1e7t6a-2WXuA__"
      alt="An in-game sticker of Lynette, a girl with short tan hair 
      with cat ears and a large dark teal bow sipping a cup of tea." width="150"
      height="150" />

      <p class="body-text">
        “the waters of Fontaine will rise and the sinful people will all be dissolved into the waters, 
        and only the Hydro Archon will remain, weeping on her throne- 
        only then will the sins of the people be washed away”</p>

     <img
        src="https://s3-alpha-sig.figma.com/img/0c4c/9d56/6cef59ffe47fbb0db10ab2b393ac8b11?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=calfa--iBoEYooKNVX0D3OT---jLSchxdzJ1KQBI-Q1oxjIAVcFEojOD2MoraVeJ79Wnj-VkDNjqxWxCclDyd~7jhf9ooG0mSD9r1P8ftXS1n0cr11ZbKY6jOx3a-xfA2dlcitBsZWm51djQHKWenlR4QggV0bN5CbwoE4OlY4l89gqLXszV9ens2~dfFcxsNeGAMEy74Lg1YaagbBrHrwvIM4gmhImjOOlwkxqT-5VDoy9BkyD7gUcyNPXwVCw~VQMhVMmHJiAY1y8WC~W~22RG3jaYBO8yuiW2N7Pt2VchnjA8cszud2epHZ21gPbXHx0UDVTij1TAuiAnFyNugw__"
        alt="An in-game sticker of Lyney, Lynette's brother, tipping his magician's
        hat away from the viewer with a smile and hand on his heart." width="150"
        height="150" />
      <p class="body-text">
        Watching Lyney and Lynette’s magic performance, a trick goes awry and leaves a girl missing and an assistant dead. Furina declares that the twins are guilty and should be taken to court. 
          While collecting evidence and clues, we meet and become partners with Navia, president of the Spina di Rosula.
      </p>
      
      <div class="rectangle" >
        <h2 class="bannertext" >Act 2</h2>
        <h2 class="bannertext">As Light Rain Falls Without Reason</h2>
      </div>
      
      <p class="body-text">
        Returning to the Fountain of Lucine, the Traveler hears a voice calling for Vacher from the fountain and walks towards it, blacking out in the process. When the Traveler comes back to the real world, they immediately find Navia, Silver and Melus fighting a large horde of Clockwork Meka. 
        Navia decides that there is one place to look in that they could never reach - the archives stored by Neuvillette, which would be their best bet to find more information.
      </p>

    <div class="container">
       <img
        src="https://s3-alpha-sig.figma.com/img/a2de/4e0a/f27ab53b4e8ce6fcf62c20d24dd14094?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WJkClBJoHHCKKUQ3ER42URxHwTwlFz~aUUwoTyqwTqilJ4QYjbxyVCSv~hk3xNlly0jl6wLsv6~ClCkFGZWHM-Glwx4mLJg~xm3Ha15Wpb4M6m~2UeLA62eILR1-r0QilG0hr-QtXzshQ13IVHFkn-2hIUABrgOhazB~MISOIKtjSzcLr59CfaDF6vx0WwswnIFznTKMAH5HrATcjNRI8I8Z5cbZ0IjMSnGOHvj9~6GH2EMLLwEC7~LTMaP3MxHcYtCMk8GnNejNE8OqwmkLTEW1cKdcrP1nSqXAcRgumBTTj2dOBzBCs~zm1M7tVkA3iEAMWvTQ7AwjwN~mJnVVKg__"
        alt="An in-game sticker of Neuvilette with his cane touching the ground, with long silver hair flowing behind him." width="150"
        height="150" />
        <img
        src="https://s3-alpha-sig.figma.com/img/72c3/cc38/7584395fd002a319a1ee2bc5b7d7960a?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GWvhnIHVMwkAx7DyFV1PcIySbnLvY0hr17lQsDTOamQXYGIAEz4Q8O4UQThdCr2-NV39nICSORXXpzNdCrawAnR50LHqcHELSA10nsxpT9QM4e2UWdH2NhBOhrYRI8jdrKlzitZKI3Q0UUO6xlfe3i4btr0c0HlBJQUu10EGUsIZQjP89Bd~OK-H2sZyS7UUFFaUij3qviI8a86vz0nEjyrTT8E5QYGxtDVwVA67Bu~f7v5nrCKQlzzdBAKBRJh8KIFGF8kAsdSClOJm~wNxT5yh58Da3T1XYlOsH7sb73GaMulBdhMieWsuTWL9Lv8pNbLT~Oh2FqeDJnyVwFVDgA__"
        alt="An in-game sticker of Navia dabbing at her mouth with a hankerchief, gently waving with her other hand." width="150"
        height="150" />
    </div>

      <p class="body-text">
      Neuvillette begins going through the files but finds nothing about Vacher. 
      As they leave, he apologizes to Navia for her father Callas' death, resulting in her becoming offended as she knew he had no emotion behind his words and that even though he agreed that something was wrong with the case, he let the duel go through.
      </p>

   <div class="container"
        style="width:40%">
       <img
        src="https://s3-alpha-sig.figma.com/img/dfc0/30e1/65a24d18b2d698bf0426650fbeaff06d?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=X4Jf3rahjTebRfVujLbBwx5NcSDnhrxFILKDNxsHXj9vlVZBuHl~3ETPwjoH-oux60sXI00QtlLOGnYv0f0jO7eRn5nPfTjqzL7shouimCjUJSWlPrXa-PjvxZUzYA8XxErUJmZHceC2itNbmzvipKXLzYRTtpwKX0OF0lNrdcMW8G53-1wCP2HJJwEIlS~4uOEVhpqCR0~iatGE-4J6zS0~xKT1NV3dnUjszsq0KdVTOaCb7lDDTrjaagRsAhTCBGUQZESwGTlRUataNwSebheFJ2k8unIXGYa1v47xbk9fN8pUaCqruAUopsjcLSV95kQ6Cdg4CzA-kkJKJJHpDQ__"
        alt="An in-game sticker of Clorinde pointing her gun directly at the viewer, staring with an emotionless expression." width="150"
        height="150" />
        <p class="body-text">
          Clorinde confirms; as a Champion Duelist, she could tell when someone was fighting to live or die, and that Callas wanted to die.
        </p>
    </div>  

    <p class="body-text">
      With her father's honor restored, Navia holds a memorial for him and decides to visit his grave. 
      When they arrive, they find Neuvillette there, who explains why he let the duel between him and Clorinde continue. He admits that Callas had proved him wrong and that without his sacrifice, the case would have never been solved.
    </p>
   
  <div class="rectangle" >
     <h2 class="bannertext" >Act 3</h2>
     <h2 class="bannertext">To the Stars Shining in the Depths</h2>
  </div>
      
      
      {%include 'topthing'%}
    </main>
    {% include 'footer' %}
  </body>
</html>
