<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Page 2' %}
  <body class="page">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="title">Story</h1>

      <div class="rectangle" >
        <h1 class="title, bannertext" >Act 1</h1>
        <h1 class="title, bannertext">Prelude of Blancheur and Noirceur</h1>
      </div>



      <p class="body-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo
        amet voluptate quis doloremque harum. Omnis esse atque, mollitia
        consequatur dolore dicta ratione, dignissimos sunt molestias earum
        obcaecati! Accusantium, ipsam.
      </p>
      {%include 'topthing'%}
    </main>
    {% include 'footer' %}
  </body>
</html>
